make.inc
CMakeUserPresets.json
build/

*.o
*.x
.*.swp
*.mod
*_cpp.f90
*.a

t
t1
t2
t3
t4
t5
t6
t7
t8
t9
*.log

drh_*
tests/*.sh
tests/data/*.out
tests/data/*.diff
tests/data/*.oncvpsp.*
tests/data/TEST.report
tests/data/_tmp_input
